@model bookyourdoctor.patient
@{
    ViewBag.Title = "Create";
}

<head>
    <style type="text/css">

        body {
            background-image: url(../images/qqq.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 500px;
        }

        .registration {
            color: black;
            font-size: 40px;
            font-family: Agency FB;
            font-weight: 700;
            border-bottom-style: ridge;
        }

        .row {
        }

        .btn.hover {
            background-color: aqua;
        }

        label {
            font-size: 22px;
        }

        .btn-danger {
            border-radius: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id=" form" style=" background-color: #acbdca;height:10% 100%;opacity:0.9;

    ">
                <center style="text-align:center ;
	padding-top: 60px;padding-bottom:60px"><b class="registration">PATIENT REGISTER</b></center>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-left: 50px;width: 270px">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-left: 48px;width: 272px">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.contact_number, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            <div style="    width: 270px;
    margin-left: -37px;">
                                @Html.EditorFor(model => model.contact_number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contact_number, "", new { @class = "text-danger" })
                            </div>
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-left: 38px;width: 272px">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Confirm_password, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div style="margin-left: 16px;
    width: 272px">
                                @Html.EditorFor(model => model.Confirm_password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Confirm_password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" style="margin-left:130px;width:90px;background-color: #2992de;color:white"/>
                        </div>
                    </div>
               
                }
            </div>
        </div>
    </div>
</body>
