@model bookyourdoctor.doctor_scedule
@{
    ViewBag.Title = "Details";
}
<head>
    <style type="text/css">

        body {
            background-image: url(../images/qqq.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-size: 100% 100%;
        }

        .registration {
            color: black;
            font-size: 40px;
            font-family: Agency FB;
            font-weight: 700;
            border-bottom-style: ridge;
        }

        .row {
        }

        .btn.hover {
            background-color: aqua;
        }

        label {
            font-size: 22px;
        }

        .btn-danger {
            border-radius: 0px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" id=" form" style=" background-color: #acbdca;height:100% 100%;opacity:0.9;

    ">
                <center style="text-align:center ;
	padding-top: 60px;padding-bottom:60px"><b class="registration">SCHEDULE DETAILS</b></center>
                <div>
                    
                    <dl class="dl-horizontal" style="padding-left:80px">
                        <dt>
                            @Html.DisplayNameFor(model => model.clinic_start_time)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.clinic_start_time)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.hospital_start_time)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.hospital_start_time)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.clinic_end_time)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.clinic_end_time)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.hospital_end_time)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.hospital_end_time)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.is_avalible)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.is_avalible)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Clinic_day)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Clinic_day)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.hospial_day)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.hospial_day)
                        </dd>
                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.doctor_id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>



            </div>
        </div>
    </div>
</body>






